//animations
@keyframes moveInLeft{
    0%{ 
        transform: translateX(-20px);
        opacity: 0;
          }
    80%{
        transform: translateX(20px);
    }  
    
    100%{ 
        transform: translateX(0);
        opacity: 1;
          }
}

@keyframes InRight{
    0%{ 
        transform: translateX(20px);
        opacity: 0;
          }
    80%{
        transform: translateX(-20px);
    }  
    
    100%{ 
        transform: translateX(0);
        opacity: 1;
          }
}
