


///colors
$color-pink :#e04f67 ;
$color-aqua: #1cbbb4 ;
$color-pestag: #82ca9c ;
$color-orange: #f7941d ;
$color-orange-light:#ffcd3c;
$color-orange-dark: #f37121 ;

$color-blue: #1b6ca8 ;
$color-blue-dark :#0b2f4b ;

$color-white:rgb(230, 224, 224);
$color-black:rgb(14, 13, 13);
$color-grey-dark :#777 ;
$color-grey-light :#f8f2f2 ;


$color-primary :   $color-aqua ;
$color-secondary :   $color-blue ;
$color-ter:  $color-blue-dark ;